@use 'vars';


header {
  color: vars.$text;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;


&_logo {
    color: vars.$text;
    text-decoration: none;
    padding-top: 61px;
  }
}
.nav {
  &_list {
display: flex;
gap: 29px;
list-style: none;
margin: 0;
padding-top: 61px;
  }


&_link {
  color: vars.$text;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700; 
  

  
}
}