@use 'vars';

.header {
color: vars.$text;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 61px;

&_logo {
    color: vars.$text;
    text-decoration: none;
  }
}

 img {
      display: block;
    }
  

.nav {
  &_list {
display: flex;
gap: 29px;
list-style: none;
margin: 0;
padding: 0;
  }


&_link {
  color: vars.$text;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700; 
  

  
}
}