@use 'vars';

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 96px;

  &_label {
    color: vars.$accent;
    font-size: 22px;
    font-weight: 700;

  }

  &_title {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  max-width: 635px;
  margin: 0;
}

  &_highlight {
    color: vars.$accent;
  }


 &_quote {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-right: 73px;
  margin-bottom: 10px;
}

&_line {
  width: 30px;            
  height: 1px;            
  background: vars.$text;
  opacity: 0.6;
}

&_quoteText {
  font-size: 18px;
  font-style: italic;
  opacity: 0.6;
  margin: 0;
}

}