@use 'vars';
@use 'fonts';

@import 'header';
@import 'hero';
@import 'gallery';
@import 'services';
@import 'awards';
@import 'footer';
@import 'intro';
@import 'feature';

body {
  font-family: fonts.$main-font;
  color: vars.$text;
  max-width: 1109px;
  margin: 0 auto;
}

